# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.egg-info/
*.egg
*.pytest_cache/

# Virtual environment
venv/
.env/
.env.*

# Poetry
.poetry/
poetry.lock

# Jupyter
.ipynb_checkpoints/
*.ipynb

# PyTorch / Lightning
lightning_logs/
*.pt
*.ckpt
*.pth

# MLflow
mlruns/
mlflow.db

# macOS
.DS_Store
Thumbs.db

# Hydra
outputs/
multirun/

# DVC
.dvc/cache/
/data/**
!/data/**/*.dvc

# DVC internal
.dvc/cache
