# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.egg-info/
*.egg
*.pytest_cache/

# Virtual environment
venv/
.env/
.env.*

# Poetry
.poetry/
poetry.lock

# Jupyter
.ipynb_checkpoints/
*.ipynb

# PyTorch / Lightning
lightning_logs/
*.pt
*.ckpt
*.pth
*.pack

# Files
*.csv

# MLflow
mlruns/
mlflow.db

# macOS
.DS_Store
Thumbs.db

# Hydra
outputs/
multirun/

# Raw dataset (local only)
data/UTKFace/

# Dataset splits (DVC-tracked)
data/train/
data/val/
data/test/
data/predict/

# Ignore everything except .dvc files
/data/train/*
!/data/train/**/*.dvc
/data/val/*
!/data/val/**/*.dvc
/data/test/*
!/data/test/**/*.dvc
/data/predict/*
!/data/predict/**/*.dvc

# DVC cache
.dvc/cache/
